github "realm/realm-cocoa" == 0.98.5
github "morizotter/SwiftRefresher"
github "0xced/XCDYouTubeKit"
github "rs/SDWebImage"
github "EndouMari/TabPageViewController" "12b6807b3d94ab9632a4c4b3ee073ff382d1b04b"
github "Alamofire/Alamofire" == 3.2.1
github "SwiftyJSON/SwiftyJSON"
