github "realm/realm-cocoa"
#github "morizotter/SwiftRefresher"
github "ya-s-u/SwiftRefresher" "swift3"
github "0xced/XCDYouTubeKit"
#github "tochiba/SwiftRefresher"
github "rs/SDWebImage"
github "EndouMari/TabPageViewController" "swift_3"
github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
