github "realm/realm-cocoa"
github "morizotter/SwiftRefresher"
github "0xced/XCDYouTubeKit"
github "rs/SDWebImage"
github "EndouMari/TabPageViewController" "12b6807b3d94ab9632a4c4b3ee073ff382d1b04b"
github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
